
body
{

    background-color: darkgreen;
    color: white;
    font-family: Arial;
}

a
{
    color: yellow;
}

a:hover
{
    color: blue;
}

h1
{
    text-align: center;
    font-size: 40pt;
}

h3
{
    font-size: 22pt;
}

ul
{
    font-size: 16pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.wrap 
{
    display: flex;
    width: 100%;
}


.links-bar
{
    background-color: darkgreen;
    padding-right: 10px;
}

.gallery
{
    display: block;
    width: 80%;
    margin: auto;
    padding: 25px;
    text-align: center;
}

.main-page
{
    background-image: url(img/golf-course.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-grow: 1;
}

.media
{
    width: 300;
    height: 300;
    margin: 40px;
    text-align: center;
    background-color: black;
    border-style: double;
    border-color: white;
    border-width: 5px;
}


#title-header
{
    color: darkgreen;
    font-size: 50pt;
}

.bio
{
    width: 60%;
    margin: auto;
    border-style: solid;
    border-color: black;
    background-color: tan;
    color: darkgreen;
    text-align: center;
    font-size: 16pt;
}

.bio:hover
{
    background-color: white;
}